h4 {
    text-align: center;
}
.welcome {
    background-color : rgba(0, 217, 255, 0.185);
}
.currentHoldings{
    background-color : rgba(125, 156, 165, 0.185);
    border-style:solid;
    float: left;
    width: 49%;
    text-align: center;

}
.holdingsTable{
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    width:100%;
}
.graph{
    background-color : rgba(125, 156, 165, 0.185);
    border-style:solid;
    float: right;
    width: 49%;
    text-align: center;

}
.orderHistory{
    background-color : rgba(0, 217, 255, 0.185);
    border-style:solid;
}
.orderQueue{
    background-color : rgba(0, 217, 255, 0.185);
    border-style:solid;
}

.searchTicker{
    background-color : rgba(0, 217, 255, 0.185);
    border-style:solid;

}
.placeOrder{
    background-color : rgba(0, 217, 255, 0.185);
    padding: 2pt;
    border-style:solid;
}