<div >
<div>
    <div class="search-ticker">
      <input style="width:250px" type="text" [(ngModel)]="searchText" placeholder="Search by Ticker, Name or Price">
    </div>

    <table class="securityTable" id="table-1">
      <thead>
          <tr>
              <th>Ticker</th>
              <th>Name</th>
              <th>Price</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of mySecurities | filter: searchText">
        <td>{{s.ticker}}</td>
        <td>{{s.name}}</td>
        <td>{{s.t0}}</td> 
        </tr>
    </tbody>
</table>
</div>
</div>