/* Border styles */
#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width:100%;
    height:10px;
    margin-top:2%;
    overflow: scroll;
    }
#table-1 thead, #table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    }
/* Padding and font style */
#table-1 td, #table-1 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(4, 40, 90);;
    }
    
/* Alternating background colors */

#table-1 tr:nth-child(even) {
    background: rgb(83, 119, 174);
    }
#table-1 tr:nth-child(odd) {
    background: rgb(235, 234, 243)
    }
#table-1 th{
    background: rgb(83, 119, 174);
    }
.button-ticker{
    align-items:center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  float:right;
  height: 40px;
  width: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 10px;
  margin-right:3%;
  margin-top:5px;
}
.button-ticker:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
.button-ticker:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
.button-ticker:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

.lineChart{
    background-color: #c1cbd7;
    height: 300px;
    border-radius: 25px;

    /* overflow: scroll; */

}
.searchTicker{
  background-color: #c1cbd7;
  height: 150px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}