<!-- <div class="lineChart">
    <div class="legend-title">
        10 Days Price
    </div>
    <div class="chart-wrapper">
      <canvas baseChart 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [legend]="lineChartLegend" 
          [chartType]="lineChartType" 
          [plugins]="lineChartPlugins">
      </canvas>
  </div>
</div> -->

<div class="search-ticker">
      <input style="width:250px" type="text" [(ngModel)]="searchText" placeholder="Search by Ticker, Name or Price">


    <table class="securityTable" id="table-1">
      <thead>
          <tr>
              <th>Ticker</th>
              <th>Name</th>
              <th>Price</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of mySecurities | filter: searchText">
        <td><button class="button-ticker">{{s.ticker}}</button></td>
        <td>{{s.name}}</td>
        <td>{{s.t0}}</td> 
        </tr>
    </tbody>
</table>
</div>
