
<div class="welcome">
    <h1>Welcome! </h1>
    <h2> Your current balance is: $5000 </h2>
</div>


<section class="currentHoldings">
    <h3>Current Holdings</h3>
    <table class="holdingsTable">
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
        </tr>
    </table>
</section>

<div class="graph">
    <h2>Graph</h2>
</div>


<div class="orderHistory">
    <h2>orderHistory</h2>
</div>

<div class="orderQueue">
    <h1>OrderQueue</h1>
</div>



<div class="searchTicker">
    <h1>Search Ticker</h1>
</div>

<div class="placeOrder">
    <h1>Place Order</h1>
</div>