<!DOCTYPE html>
<html lang="english">
    <head><title>MainPage</title></head>
    
    <header class="header" >
        <ul class="typed">
            <li style="color: #96A7B7"><span>Portfolio</span></li>
            <li style="color: #96A7B7"><span>Management</span></li>
            <li style="color: #96A7B7"><span>System</span></li>
        </ul>
    </header>

    <div class="welcome">
        <div >
            <h1>Welcome!</h1>
            <h2> You can place orders and see account information below </h2>
        </div>
    </div>

    <body>
        <div class="mainPage">
            <div class = "card" class = "placeOrder" style="width: 95rem; text-align: center; background-color: #1d3f6d; color: #fff;">
                <h1>Place Order</h1>
                <app-order-form></app-order-form>
            </div>
        <div class="leftBar">
            <section class="currentHoldings">
                <h2>Current Holdings</h2>
                <table class="holdingsTable">
                <app-holdings-list></app-holdings-list>
                </table>
            </section>


            <div class="orderHistory">
                <h2>Order History</h2>
                <app-order-list></app-order-list>
            </div>
        </div>

        <div class="rightBar">
            <div class="plot-chart">
                <app-plot-chart></app-plot-chart>
            </div>
            <div class="plot">
            <app-plot></app-plot>
             </div>
 

            <div class="searchTicker">
                <h2>Search Security</h2>

                <table class="securityTable">
                    <thead>
                </thead>
                <app-security-list></app-security-list>
                </table>
            </div>

            <div class="orderQueue">
                <h2>Order Queue</h2>
                <app-order-queue-list></app-order-queue-list>
            </div>

            
        </div>

        </div>

</body>
</html>
