
<div class="welcome">
    <h1>Welcome to {{title}} </h1>
    <h2> Your current balance is: $5000 </h2>
</div>


<section class="currentHoldings">
    <h3>Current Holdings</h3>
    <table class="holdingsTable">
        <app-holdings-list></app-holdings-list>
    </table>
</section>

<div class="graph">
    <h2>Graph</h2>
</div>


<div class="orderHistory">
    <h2>orderHistory</h2>
    <app-order-list></app-order-list>

</div>


<div class="orderQueue">
    <h1>OrderQueue</h1>
    <app-order-queue-list></app-order-queue-list>
</div>



<div class="searchTicker">
    <h1>Tickers</h1>
    <app-security-list></app-security-list>
</div>

<div class="placeOrder">
    <h1>Place Order</h1>
</div>
