html{
    margin: 0px;
    border:0px;
    padding: 0px;
    min-height: 140vh;;
    width:100%;
    font-family: Trebuchet MS, sans-serif;
    background-color:#dcdddf;
    
}
.header{
    display: inline-flex;
    text-align:right;
    position:absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top:-20px;
    right:20px;

  }
.header .typed{
    margin-left: 10px;
    line-height: 90px;
    height: 50px;
    line-height: 1;
}
.header .typed li{
    color: #425e7f;
    font-size: 40px;
    font-weight: 600;
    list-style: none;
    top: 0;
    left: 120;
  }
  .header .typed li span{
    position: relative;
  }
  .header .typed li span::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 10;
    border-right: 4px solid #425e7f;/*Blinking cursor*/
  }
.welcome {
    background-color: #d1c0bd;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.mainPage {
    text-align: center;
    height: auto;
    width: 100%;
    padding-top: 2%;
    margin-bottom: 10%;
    /* background-color: #dadaeb;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    background: radial-gradient(circle, transparent 20%, #dadaeb 20%, #dadaeb 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #dadaeb 20%, #dadaeb 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#a1a4da 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #a1a4da 0.8px, #dadaeb 0.8px) -0.4px 0;
    opacity: 0.8; */
}
.leftBar{
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.rightBar{
    float: right;
    width: 35%;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.placeOrder {
    /* Modify size here: */
    margin-left:50px;
    margin-right:50px;
    position: relative;
    width: calc(var(--size) - var(--padding));
    height: calc(var(--size) / 2);
    background-color : #8696a7;
    height: 150px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
} 
.placeOrder:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #8696a7;
    height: 16px;
    width: 16px;
}
.button-1 {
  align-items:center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  float:right;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-right:3%;
  margin-top:20px;
}

.button-1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.button-1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.currentHoldings{
background-color: #c1cbd7;
height: 500px;
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
overflow: scroll;
}
.holdingsTable{
    border: 1px solid rgb(0, 0, 0);
    width:100%;
}
.orderHistory{
    background-color: #c1cbd7;
    border-radius: 25px;
    height: 500px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    overflow: scroll;
}
.plot{
  background-color: #c1cbd7;
  border-radius: 25px;
  height: 300px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  overflow: scroll;
}
.orderQueue{
  background-color: #c1cbd7;
  border-radius: 25px;
  height: 300px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  overflow: scroll;
}
.searchTicker{
    background-color: #8696a7;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 300px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    overflow: scroll;
}


